.contenedor {
  width: 180px;
  height: 724px;
  border-right: 1px solid #d7e8fb;
  margin-top: 0px;
  padding-top: 40px;
  background-color: #f7f7f7;
}
.contenedorItems {
  margin-top: 100px;
}
.items {
  list-style: none;
  margin-top: 20px;
}
.enlacesItems {
  color: black;
  font-size: 19px;
  text-decoration: none;
}
.subMenu {
  list-style: none;
}
nav ul ul {
  height: 0;
  overflow: hidden;
  transition: 0.6s;
}
nav ul li:hover ul {
  height: 80px;
}
